.container
  background linear-gradient(#BDDEE1, #F0FCFD)
  height 100%

.content
  width 1110px
  margin auto
  margin-top 60px
  display flex
  align-items flex-start

.cards-area
  margin-left 80px

.card-row
  display flex
  justify-content space-between
  width 650px
  margin-bottom 50px

.icon-simple
  margin-right 5px
  font-size 18px
  color #f9acef

.icon-secure
  margin-right 5px
  font-size 18px
  color #F05F5F

.icon-speed
  margin-right 5px
  font-size 18px
  color #5ABAF4

.icon-check
  margin-right 5px
  font-size 18px
  color #6ADF4A
