.container
  background linear-gradient(#BDDEE1, #F0FCFD)
  height 100%

.content
  width 1230px
  margin auto
  margin-top 60px
  display flex

.cards-area
  margin-left 80px

.card-row
  display flex
  justify-content space-between
  width 650px
  margin-bottom 50px

.icon-simple
  color #E49FEF

.icon-secure
  color #F05F5F

.icon-speed
  color #5ABAF4

.icon-check
  color #6ADF4A
