.container
  position relative

.wrapper
  position relative

.input
  outline none
  border 1px solid #a9a9a9
  padding-left 10px
  appearance none
  &:focus
  &:active
    border-color #56BDC0
  &::placeholder
    color #b5b5b5

.error-icon
  margin-right 2px

.error
  margin-top 2px
  position absolute
  color #dc4646
