.container
  position fixed
  top 0px
  left 50%
  transform translateX(-50%)
  z-index 1000

.toast
  background green
  padding 10px 20px
  margin-top 10px
  color white

:global(.toast-animation-enter)
  transform translate3D(0, -120%, 0)

:global(.toast-animation-enter):global(.toast-animation-enter-active)
  transform translate3D(0, 0, 0)
  transition height 120ms ease 100ms, transform 100ms cubic-bezier(0.2, 0, 0, 1)


:global(.toast-animation-exit)
  transform scale(0.66)
  opacity 0

:global(.toast-animation-exit):global(.toast-animation-exit-active)
  transform scale(0.66)
  opacity 0
