.toast
  position fixed
  top 0px
  left 50%
  transform translateX(-50%)
  background green
  padding 10px 20px
  color white

// :global(.toast-animation-enter)
//   opacity 0.01
//   height 0
//   margin-bottom 0
//   transition height .2s, margin-bottom .2s, opacity .3s ease .2s

// :global(.toast-animation-enter):global(.toast-animation-enter-active)
//   height 34px
//   margin-bottom .5rem
//   opacity 1

// :global(.toast-animation-leave)
//   opacity 1
//   height 34px
//   margin-bottom .5rem
//   transition opacity .3s, height .2s ease .3s, margin-bottom .2s ease .3s

// :global(.toast-animation-leave):global(.toast-animation-leave-active)
//   height 0
//   margin-bottom 0
//   opacity 0.01
