extends layout

block content
  #root
  script(src=publicPath + '/js/index.bundle.js')
  script(data-ad-client="ca-pub-3758588120105728" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async)
