.base
  width 420px
  padding 20px 40px
  background white
  border-radius 2px
  text-align center
  box-shadow 0px 2px 4px 0px rgba(197, 197, 197, 0.5)

.title
  text-align center
  font-weight 700
  color #757575

.tip
  color #c7c7c7
  margin-top 10px
