.container
  max-height 300px
  min-height 200px
  padding 0px 8px
  background #fafafa
  overflow-y auto

.file-row
  position relative
  text-align left
  padding-left 8px
  height 50px
  line-height @height
  vertical-align middle
  background white
  border-radius 2px
  margin 10px auto

.file-icon
  font-size 28px
  color #8e8e8e

.file-info
  display inline-block

.file-name
  font-size 16px
  line-height 1
  max-width 12em
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.file-size
  font-size 12px
  line-height 1
  color #adadad

.close-icon
  position absolute
  right 12px
  cursor pointer
  color #8e8e8e
