.message
  font-size 20px
  margin-bottom 5px
  &:before
    content ''
    display inline-block
    width 3px
    height 14px
    background #d2d2d2
    margin-right 5px

.file-box
  border 1px solid grey
  padding 10px

.file
  display flex
  justify-content space-between
  margin 3px 0px

.file-name
  font-weight 700

.summary
  color #b0b0b0
  margin-top 5px
  margin-bottom 20px
