.base
  width 380px
  margin 0 auto
  padding 20px 22px
  background white
  text-align center
  box-shadow 0px 2px 4px 0px rgba(197, 197, 197, 0.5)

.title-row
  position relative

.title
  text-align center
  font-weight 700
  color #757575

.cancel
  position absolute
  cursor pointer
  color #8e8e8e

.input
  width 100%
  height 42px
  margin-top 60px

.recv-btn
  width 100%
  margin-top 20px

.tip
  text-align right
  color #989898
  cursor pointer
  margin-top 138px

.msg1
  text-align left
  margin-top 25px
  margin-bottom 10px
  color #8e8e8e

.msg2
  display flex
  justify-content space-between
  margin-top 10px
  color #8e8e8e

.peer-connected
  color #61F36B

.peer-not-connected
  color #EA7A7A

@media (max-width: 1200px)
  .base
    width 80%
    max-width 650px
