.base
  width 380px
  padding 20px 25px 10px
  background white
  box-shadow 0px 2px 4px 0px rgba(197, 197, 197, 0.5)

.title-row
  position relative

.title
  text-align center
  font-weight 700
  color #757575

.back
  position absolute
  cursor pointer
  color #8e8e8e

.upload-area
  height 300px
  padding 0px 8px
  border 2px dashed #D1D1D1
  background #fafafa
  margin 8px auto
  text-align center
  overflow-y auto

.recv-guide
  margin-top 20px

.icon-plus-wrapper
  margin-top 60px

.icon-plus
  font-size 42px
  color #8e8e8e

.upload-tip
  color #8e8e8e
  margin-top 8px
  font-size 13px

.upload-btn
  width 215px
  margin-top 15px

.link
  color #40AF9C
  &:hover
    color lighten(#40AF9C, 30%)

.file-row
  position relative
  text-align left
  padding-left 8px
  height 50px
  line-height @height
  vertical-align middle
  background white
  border-radius 2px
  margin 10px auto

.file-icon
  font-size 28px
  color #8e8e8e

.file-info
  display inline-block

.file-name
  font-size 16px
  line-height 1
  max-width 12em
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.file-size
  font-size 12px
  line-height 1
  color #adadad

.close-icon
  position absolute
  right 12px
  cursor pointer
  color #8e8e8e

.upload-more
  display flex
  justify-content space-between
  align-items center

.add-more
  cursor pointer
  color #40af9c

.file-summary
  text-align right
  color #adadad

.btn-select-file-done
  width 100%
  margin-top 20px


/* STEP 2 */

.select-send-method
  color #8e8e8e
  margin-bottom 10px

.download-link-container
  margin 10px 0px 20px

.download-code-container
  margin 10px 0px 20px

.download-link
  display inline-block
  height 36px
  line-height @height
  vertical-align middle
  border 1px solid #c8c8c8
  background #eeeeee
  padding 0px 10px
  margin-right 10px

.download-code
  display inline-block
  height 36px
  line-height @height
  vertical-align middle
  border 1px solid #c8c8c8
  background #eeeeee
  padding 0px 10px
  margin-right 10px
  width 238px
  text-align center

.btn-copy
  color #649AE4
  cursor pointer
  user-select none

.qrcode-container
  text-align center

.recv-qrcode
  width 120px

.connect-tips
  margin-top 20px
  color #a7a7a7
  line-height 1.5

.btn-wait-connect
  margin-top 20px
  width 100%

/* step 3 */
.sending-box
  padding 10px 8px
  background #fafafa
  margin 8px auto

.sending-file-row
  position relative
  text-align left
  padding-left 8px
  height 50px
  line-height @height
  vertical-align middle
  background white
  border-radius 2px
  margin 10px auto
  &:first-child
    margin-top 0px
  &:last-child
    margin-bottom 0px

.send-pct
  position absolute
  top 0px
  right 10px

.sending-summary
  color #a7a7a7

.btn-sending
  margin-top 20px
  width 100%
