.base
  width 500px
  padding 20px 20px
  background white
  border-radius 2px
  box-shadow 0px 2px 4px 0px rgba(197, 197, 197, 0.5)

.title
  text-align center
  font-weight 700
  color #757575

.upload-area
  height 320px
  border 1px dotted #D1D1D1
  padding-top 50px
  margin 20px auto
  text-align center

.icon-plus
  font-size 42px
  color #D1D1D1

.upload-tip
  color #D1D1D1
  margin-top 8px
  font-size 13px

.upload-btn
  width 215px
  margin-top 15px

.link
  color #40AF9C
  &:hover
    color lighten(#40AF9C, 30%)
