.steps
  margin-bottom 20px

.file-box
  position relative
  border 1px solid #cacaca
  padding 10px
  margin-bottom 10px

.file
  display flex
  justify-content space-between
  padding 10px

.file-name
  display inline-block
  vertical-align middle
  max-width 15em
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  margin-right 10px

.summary
  color #b0b0b0
  margin-top 5px
  margin-bottom 20px

.upload-btn
  margin-top 15px

.icon-x
  position absolute
  right 15px
  top 15px
  font-size 16px
  cursor pointer

.icon-plus
  font-size 18px
  margin-right 5px

.add-more-file
  cursor pointer

.message
  margin-top 20px
  margin-bottom 20px

.qrcode-wrapper
  text-align center

.tips
  margin-top 20px
  margin-bottom 20px
  color #b0b0b0
