.card
  padding 30px
  height 185px
  text-align center
  background white
  border-radius 8px
  box-shadow 0px 2px 4px 0px rgba(197, 197, 197, 0.5)

.title
  font-size 16px
  margin-bottom 25px

.title-text
  letter-spacing 4px

.desc
  color #8e8e8e
  font-family serif
  line-height 1.4
