.card
  padding 30px
  width 300px
  height 185px
  text-align center
  background white
  box-shadow 0px 2px 4px 0px rgba(197, 197, 197, 0.5)

.title
  font-size 16px
  margin-bottom 25px

.desc
  color #ababab
